---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout title="404" description="Jawn not found">
	<section class="flex h-128 flex-col items-center justify-center font-overpass text-slate-700">
		<h1 class="font-mono text-9xl font-extrabold tracking-tight text-slate-950">404</h1>
		<p class="mb-32 text-3xl font-bold tracking-tight">Jawn not found</p>
	</section>
</MainLayout>
