---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout title="404" description="Jawn not found">
	<section
		class="font-overpass mb-48 flex h-112 flex-col items-center justify-center text-slate-700"
	>
		<h1 class="font-mono text-9xl font-extrabold tracking-tight text-slate-950">404</h1>
		<p class="text-3xl font-bold tracking-tight">Jawn not found</p>
	</section>
</MainLayout>
