---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

export const getStaticPaths = (async () => {
	const rosters = await getCollection('rosters');
	return rosters.map((roster) => ({
		params: { roster: roster.id },
		props: { roster },
	}));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { title, players } = Astro.props.roster.data;

players.sort((a, b) => {
	// Coerce to numbers.
	const aNum = +a.number;
	const bNum = +b.number;
	return aNum - bNum;
});
---

<MainLayout {title} class="mx-auto font-overpass text-slate-800">
	<h1 class="pt-12 pb-6 text-center text-3xl font-bold sm:pb-8 sm:text-4xl">
		{title}
	</h1>
	<ul class="mx-auto max-w-lg ps-16 pb-16 text-lg font-medium sm:columns-2 sm:ps-12 sm:text-xl">
		{
			players.map((player) => (
				<li class:list={['items-top flex gap-x-2 text-nowrap', player.captain && 'font-bold text-emerald-950']}>
					<span class="w-[2ch] text-right font-humanist text-base font-normal text-slate-600 oldstyle-nums tabular-nums sm:text-lg">
						{player.number}
					</span>
					<span class:list={[player.captain && 'underline decoration-3 underline-offset-4']}>{player.name}</span>
				</li>
			))
		}
	</ul>
</MainLayout>
