---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

export const getStaticPaths = (async () => {
	const rosters = await getCollection('rosters');
	return rosters.map((roster) => ({
		params: { roster: roster.id },
		props: { roster },
	}));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { title, players } = Astro.props.roster.data;
---

<MainLayout title={title} description="">
	<h1 class="text-center text-4xl font-bold text-emerald-600 uppercase font-stretch-semi-expanded">{title}</h1>
	<ul class="container mx-auto px-10 text-left text-2xl font-semibold text-emerald-950">
		{
			players.map((player) => (
				<li class:list={{ 'font-extrabold': player.captain }}>
					<span>{player.number}</span>
					<span>{player.name}</span>
					{player.captain && <span>-C</span>}
				</li>
			))
		}
	</ul>
</MainLayout>
