---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout
	title="Home"
	description="Jawn is a Philadelphia-based, mixed-division, ultimate frisbee team of incoming, current, and former Temple University students."
>
	<section
		class="font-overpass mx-auto flex flex-col items-center justify-center px-4 py-16 text-slate-800"
	>
		<h1
			class="mb-4 max-w-144 text-center text-5xl font-bold tracking-tight text-pretty text-slate-950 sm:text-7xl"
		>
			A Philly ultimate frisbee team.
		</h1>
		<p class="max-w-128 text-justify text-xl sm:text-center sm:text-2xl">
			Jawn is a mixed division team of future, current, and former <strong>Temple University</strong
			> students.
		</p>
	</section>
	<section class="h-96 w-full">
		<!-- TODO: what is a "jawn"? -->
	</section>
</MainLayout>
