---
import MainLayout from '@/layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const rosters = await getCollection('rosters');
---

<MainLayout title="Rosters" description="">
	<h1>Rosters</h1>
	<ul>
		{
			rosters.map((roster) => (
				<li>
					<a href={`/rosters/${roster.id}`}>{roster.data.title}</a>
				</li>
			))
		}
	</ul>
</MainLayout>
