---
type Props = {
	class?: string;
};

type Link = {
	text: string;
	href: string;
};

type LinkGroup = {
	title: string;
	subtitle?: string;
	links: Link[];
};

const groups: LinkGroup[] = [
	{
		title: 'Jawn',
		subtitle: 'Mixed Club',
		links: [
			{
				text: 'Instagram',
				href: 'https://www.instagram.com/jawn_ultimate/',
			},
			{
				text: 'Twitter',
				href: 'https://x.com/JAWN_Ultimate',
			},
		],
	},
	{
		title: 'Alert',
		subtitle: 'Temple Men',
		links: [
			{
				text: 'Instagram',
				href: 'https://www.instagram.com/templeultimatem/',
			},
		],
	},
	{
		title: 'TUF',
		subtitle: 'Temple Women',
		links: [
			{
				text: 'Instagram',
				href: 'https://www.instagram.com/templeultimatew/',
			},
			{
				text: 'Twitter',
				href: 'https://x.com/templeultimatew',
			},
		],
	},
];
---

<footer class:list={['w-full pt-8 px-safe-area pb-12 font-overpass text-white', Astro.props.class]}>
	<div class="mx-auto max-w-3xl px-4">
		<h2 class="mb-4 text-3xl font-bold">Show some love...</h2>
		<div class="flex flex-wrap gap-y-4 md:justify-between">
			{
				groups.map(({ title, subtitle, links }) => (
					<section class="basis-42">
						<hgroup class="flex max-w-min items-baseline gap-x-2 border-b-2 border-white/30 text-nowrap">
							<h3 class="font-bold">{title}</h3>
							{subtitle && <p class="text-sm font-medium text-white/85">{subtitle}</p>}
						</hgroup>
						<ul class="mt-1">
							{links.map(({ text, href }) => (
								<li class="text-white/95">
									<a class="" href={href}>
										{text}
									</a>
								</li>
							))}
						</ul>
					</section>
				))
			}
		</div>
		<div class="mt-12 flex justify-between border-t-2 border-white/30 py-6">
			<span>Copyright &copy; {new Date().getFullYear()} Jawn</span>
			<a title="Source code for this website" href="https://github.com/sanman1k98/jawnultimate.com" target="_blank">
				<span class="underline any-pointer-fine:hover:text-slate-300">Source code</span>
			</a>
		</div>
	</div>
</footer>
