---
type Props = {
	class?: string;
};

type Link = {
	text: string;
	href: string;
};

type LinkGroup = {
	title: string;
	subtitle?: string;
	links: Link[];
};

// TODO: figure out a nice way to put this in the footer.
const groups: LinkGroup[] = [
	{
		title: 'Jawn',
		subtitle: 'Summer Club',
		links: [
			{
				text: 'Instagram',
				href: 'https://www.instagram.com/jawn_ultimate/',
			},
			{
				text: 'Twitter',
				href: 'https://x.com/JAWN_Ultimate',
			},
		],
	},
	{
		title: 'Alert',
		subtitle: "Temple Men's Team",
		links: [
			{
				text: 'Instagram',
				href: 'https://www.instagram.com/templeultimatem/',
			},
		],
	},
	{
		title: 'TUF',
		subtitle: "Temple Women's Team",
		links: [
			{
				text: 'Instagram',
				href: 'https://www.instagram.com/templeultimatew/',
			},
			{
				text: 'Twitter',
				href: 'https://x.com/templeultimatew',
			},
		],
	},
];
---

<footer
	style="padding-inline: env(safe-area-inset-left) env(safe-area-inset-right)"
	class:list={['font-overpass w-full pt-8 pb-12 text-white', Astro.props.class]}
>
	<div class="mx-auto max-w-3xl px-4">
		<h2 class="mb-4 text-3xl font-bold">Show some love...</h2>
		<div class="flex flex-wrap gap-y-4 md:justify-between">
			{
				groups.map(({ title, subtitle, links }) => (
					<section class="basis-42">
						<hgroup class="flex max-w-min items-baseline gap-x-2 border-b-2 border-white/30 text-nowrap">
							<h3 class="font-extrabold">{title}</h3>
							{subtitle && <p class="text-sm font-medium text-white/85">{subtitle}</p>}
						</hgroup>
						<ul class="mt-1">
							{links.map(({ text, href }) => (
								<li class="text-white/95">
									<a class="" href={href}>
										{text}
									</a>
								</li>
							))}
						</ul>
					</section>
				))
			}
		</div>
	</div>
	<div class="mt-8 text-center font-bold">
		<span>Jawn est. 2017</span>
	</div>
</footer>
