<footer class="text-emerald-800 mb-16">
	<ul class="mx-auto flex justify-center gap-x-4 p-4">
		<li>
			<a href="https://www.instagram.com/jawn_ultimate/">Instagram</a>
		</li>
		<li>
			<a href="https://x.com/JAWN_Ultimate">Twitter</a>
		</li>
	</ul>
	<div class="text-center">
		<span>JAWN est. 2017</span>
	</div>
</footer>
