---
type Props = {
	class?: string;
};
---

<header
	style="--metro-street-sign-mask: linear-gradient(-33deg, black 87%, transparent 87%), linear-gradient(33deg, black 87%, transparent 87%)"
	class:list={[
		'font-overpass mx-auto mt-4 aspect-3/1 w-[18rem] overflow-hidden rounded-b-lg bg-emerald-600 mask-(--metro-street-sign-mask) mask-intersect',
		Astro.props.class,
	]}
>
	<ul
		aria-hidden="true"
		class="mx-auto flex items-center justify-center gap-x-2 text-lg font-bold text-white"
	>
		<li>&larr;</li>
		<li>1700</li>
		<li class="text-2xl text-yellow-400">N</li>
		<li>1800</li>
		<li>&rarr;</li>
	</ul>
	<div class="text-center text-6xl font-bold text-white uppercase">
		<a href="/">Jawn</a>
	</div>
</header>
