---
/**
 * @file A header designed to look like a Philadephia metro street sign, which also matches the design of our light jerseys.
 *
 * @see {@link https://www.phila.gov/departments/department-of-streets/design-construction/standards-and-guidelines/#/?table=street%20and%20traffic%20signs}
 * @see {@link https://www.phila.gov/media/20210622095341/Streets-standards-SN0101-metro-street-name-20161024.pdf Metro Sign Standards}
 * @see {@link https://www.phila.gov/media/20211208121718/Streets-standards-SN0102-overhead-sign-20211019.pdf Overhead Sign Standards}
 * @see {@link https://www.phila.gov/media/20250528103828/philadelphia-streets-engineering-standards-pses-2025-03-11-1.pdf Philadelphia Streets Engineering Standards}
 */

type Props = {
	class?: string;
};
---

<div class:list={['relative mx-auto max-w-min', Astro.props.class]}>
	<div class="absolute inset-x-0 bottom-0 h-[4rem] w-[18rem] bg-emerald-700/50 blur-lg"></div>
	<header
		style="--metro-street-sign-mask: linear-gradient(-33deg, black 87%, transparent 87%), linear-gradient(33deg, black 87%, transparent 87%)"
		class="aspect-3/1 w-[18rem] overflow-hidden rounded-b-lg bg-emerald-600 mask-(--metro-street-sign-mask) mask-intersect font-overpass"
	>
		<ul aria-hidden="true" class="mx-auto flex items-center justify-center gap-x-2 text-lg font-bold text-white">
			<li class="scale-150">&larr;</li>
			<li>1700</li>
			<li class="text-2xl text-yellow-400">N</li>
			<li>1800</li>
			<li class="scale-150">&rarr;</li>
		</ul>
		<div class="text-center text-6xl font-bold text-white uppercase">
			<a href="/">Jawn</a>
		</div>
	</header>
</div>
