---
type Props = {
	class?: string;
};
---

<header class:list={['font-overpass bg-emerald-600 p-8', Astro.props.class]}>
	<ul
		class="mx-auto flex items-center justify-center gap-x-2 text-lg text-white font-stretch-semi-expanded"
	>
		<li>⬅</li>
		<li>1700</li>
		<li class="px-4 text-2xl text-yellow-400">N</li>
		<li>1800</li>
		<li>➡</li>
	</ul>
	<div class="text-center text-6xl font-bold text-white uppercase font-stretch-semi-expanded">
		Jawn
	</div>
</header>
