---
import Header from '@/components/Header.astro';
import BaseLayout, { type HeadMetaProps } from './BaseLayout.astro';
import Footer from '@/components/Footer.astro';

type Props = HeadMetaProps & {
	/** Will be added to the `<main>` element.*/
	class?: string;
};

const { class: className, ...meta } = Astro.props;
---

<BaseLayout class="min-h-screen bg-emerald-600" {...meta}>
	<Fragment slot="head">
		{/* Tailwind color-emerald-600 */}
		<meta name="theme-color" content="oklch(0.596 0.145 163.225)" />
		<slot name="head" />
	</Fragment>
	<div class="bg-white shadow-xl shadow-emerald-700 max-sm:min-h-screen">
		<Header class="pt-6 sm:pt-8" />
		<main class:list={['px-safe-area', className]}>
			<slot />
		</main>
	</div>
	<Footer />
</BaseLayout>
