---
import Header from '@/components/Header.astro';
import BaseLayout, { type HeadMetaProps } from './BaseLayout.astro';
import Footer from '@/components/Footer.astro';

type Props = HeadMetaProps & {
	/** Will be added to the `<main>` element.*/
	class?: string;
};

const { class: className, ...meta } = Astro.props;
---

<BaseLayout class="flex min-h-screen flex-col" {...meta}>
	<Fragment slot="head">
		{/* Tailwind color-emerald-700 */}
		<meta name="theme-color" content="oklch(0.508 0.118 165.612)" />
		<slot name="head" />
	</Fragment>
	<Header />
	<main
		style="padding-inline: env(safe-area-inset-left) env(safe-area-inset-right)"
		class:list={['grow', className]}
	>
		<slot />
	</main>
	<Footer />
</BaseLayout>
