---
import Header from "@/components/Header.astro"
import BaseLayout, {type Props as BaseLayoutProps} from "./BaseLayout.astro"
import Footer from "@/components/Footer.astro"
type Props = BaseLayoutProps;


---


<BaseLayout {...Astro.props}>
	<Header />
    <main>
        <slot /> 
    </main>
    
    <Footer />
</BaseLayout>